<% if @brand.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@brand.errors.count, "error") %> prohibited
       this article from being saved:
     </h2>
     <ul>
       <% @brand.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
  <% if @brands.present? %>
  <%= render @brands %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

 <p>
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </p>

 <p>
   <%= f.file_field :logo %>
   <%= image_tag @brand.logo.url(:thumb) %>
 </p>